/* LAYOUT, GRID E ESPAÇAMENTOS */
header {
  background-color: var(--cor-fundo);
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

/*Seção 2 - Alinhamento*/
#sobre {
  width: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.texto-ajustado {
  padding-top: 100px;
}

.container-limite {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}

/*Seção 1 - Mobile com fade*/
.vertical-slider {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.fade-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
.fade-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


